@use "../../styles/partials/_fonts" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/_resets" as *;
@use "../../styles/partials/_variables" as *;

.videoinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5rem;
  @include body-copy-mobile;

  @include tablet {
    padding: 0;
  }

  @include desktop {
    padding-left: 0;
  }

  &__divider {
    @include dividerStyles;
    width: 100%;
    padding-bottom: 1rem;
  }

  &__divider--tablet {
    @include tablet {
      display: none;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 50%;

    @include tablet {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
    }
  }

  &__container--left {
    @include tablet {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
  &__container--right {
    @include tablet {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__engagement {
    display: flex;
    flex-direction: row;
    padding: 0 0.5rem;
  }

  &__info {
    @include body-copy-mobile;
    font-weight: 400;
    color: $silver;
    padding: 0.25rem;

    @include tablet {
      @include body-copy-desktop;
    }
  }

  &__date {
    color: $silver;
    padding: 0.25rem;

    @include tablet {
      padding-left: 1rem;
    }
  }

  &__icon {
    padding: 0.25rem;
  }

  &__info-channel {
    @include subheader-mobile;
    color: $brainFlix-Black;
  }
}
