@use "../../styles/partials/_fonts" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/_resets" as *;
@use "../../styles/partials/_variables" as *;

.nextvideoitem {
  display: flex;
  flex-direction: row;
  color: $brainFlix-Black;
  
  &__container {
    padding-bottom: 1rem;
    
    @include tablet {
      padding-bottom: 1.5rem;
    }
  }
  
  &__video {
    object-fit: cover;
    width: 8rem;
    height: 5rem;
    border-radius:4px;
    background-color: $mercury;
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    @include body-copy-mobile;

    @include tablet {
      padding: 0 1.5rem;
      @include body-copy-desktop;
    }
  }

  &__title {
    @include subheader-mobile;
    padding-bottom: 0.25rem;
    @include tablet {
      @include subheader-desktop;
    }
  }
}
