// Colors
$BrainFlix-Black: #323232;
$BrainFlix-Blue: #0095FF;
$Silver: #AFAFAF;
$White: #FFFFFF;
$BrainFlix-DarkBlack: #000000;
$BrainFlix-DarkBlue: #0065AD;
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA;
$error: #D22D2D;

// UI Padding
$padding-headlines-mobile: 1.5rem 1rem;
$padding-components-mobile: 1rem;
$padding-headlines-desktop: 2.25rem 1.5rem;
$padding-components-desktop: 1.5rem;

// Form Field
$form-height-mobile: 2.25rem;
$form-width: 15rem;
$form-height-desktop: 2.5rem;
$form-padding-mobile: 12px;
$form-padding-desktop: 16px;
$form-label: 4px;


// Media Query Sizes 
$tablet: 768px;
$desktop: 1280px;

// CTA 
$button-height: 2.5rem;
$button-width-desktop: 9.375rem;
$button-padding: 0 2rem;
$button-radius: .25rem;
