// Colors
$brainFlix-Black: #323232;
$brainFlix-Blue: #0095FF;
$silver: #AFAFAF;
$white: #FFFFFF;
$brainFlix-DarkBlack: #000000;
$brainFlix-DarkBlue: #0065AD;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;
$error: #D22D2D;
$success: rgb(39, 183, 39);


// UI Padding
$padding-headlines-mobile: 1.5rem 1rem;
$padding-components-mobile: 1rem;
$padding-headlines-desktop: 2.25rem 1.5rem;
$padding-components-desktop: 1.5rem;

// Form Field
$form-height-mobile: 2.25rem;
$form-width: 15rem;
$form-height-desktop: 2.5rem;
$form-padding-mobile: 12px;
$form-padding-desktop: 16px;
$form-label: 4px;


// Media Query Sizes 
$tablet: 768px;
$desktop: 1280px;

// CTA 
$button-height: 2.5rem;
$button-width-desktop: 9.375rem;
$button-padding: 0 2rem;
$button-radius: .25rem;
