@use "../../styles/partials/_fonts" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/_resets" as *;
@use "../../styles/partials/_variables" as *;

.nextvideo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: $padding-components-mobile;

  @include tablet {
    padding: $padding-components-desktop;
  }

  &__title {
    padding: 1rem 0;
    color: $silver;
    text-transform: uppercase;
    @include section-header-mobile;

    @include tablet {
      @include section-header-desktop;
      padding: $padding-components-desktop;
      padding-left: 0;
    }
  }

  &__divider {
    border: none;
    border-top: 0.0625rem solid $mercury;
    margin: auto;
    width: 100%;

    @include desktop {
      display: none;
    }
  }

  &__link {
    text-decoration: none;
  }
}
