@use "../../styles/partials/_fonts" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/_resets" as *;
@use "../../styles/partials/_variables" as *;

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: $padding-headlines-mobile;
  background-color: $white;

  @include tablet {
    flex-direction: row;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 7.5rem;
    max-height: 1.5625rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablet {
      align-items: center;
      justify-content: center;
      flex-direction: row;
      margin-left: auto;
    }

    @include desktop {
      margin-left: 40rem;
      max-width: 80rem;
    }

    &--search {
      height: $form-height-mobile;
      width: $form-width;
      padding: 0.5625rem 0.25rem 0.5625rem 2.5rem;
      background-color: $white;
      border: 1px solid $mercury;
      border-radius: 0.25rem;
      box-shadow: none;
      display: block;
      background: url("../../assets/images/icons/search.svg") no-repeat 13px;
      @include labels-buttons-mobile;

      @include tablet {
        @include labels-buttons-desktop;
      }
    }

    &--avatar {
      border-radius: 50%;
      object-fit: cover;
      width: 2.25rem;
      height: 2.25rem;
      margin: 1rem;

      @include tablet {
        display: none;
      }
    }

    &--avatar-tablet {
      display: none;

      @include tablet {
        display: flex;
        border-radius: 50%;
        object-fit: cover;
        width: 2.5rem;
        height: 2.5rem;
        margin: 1rem;
      }
    }

    &--upload {
      background-image: url("../../assets/images/icons/upload.svg");
      background-position: left center;
      @include buttonStyles;

      @include tablet {
        justify-content: center;
        align-items: center;
        width: $button-width-desktop;
        @include labels-buttons-desktop;
      }
    }

    &--upload:hover {
      background-color: $brainFlix-DarkBlue;
      cursor: pointer;
    }
  }

  &__search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
}
