@use "../../styles/partials/_fonts" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/_resets" as *;
@use "../../styles/partials/_variables" as *;

.nextvideo {
    // TODO: flex: 1 of desktop mode
    display: flex;
    flex-direction: column;
    padding: $padding-components-mobile;

    &__title {
        padding: 1rem 0;
        color: $silver;
        text-transform: uppercase;
        @include subheader-mobile;
    }
  
    &__divider {
        border: none;
        border-top: 0.0625rem solid $mercury;
        margin: auto;
        width: 100%;
      }
}