@use "../../styles/partials/_fonts" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/_resets" as *;
@use "../../styles/partials/_variables" as *;

.nextvideoitem {
  display: flex;
  flex-direction: row;
  color: $brainFlix-Black;

  &__container {
    padding-bottom: 1rem;
  }

  
  &__video {
    position: relative;
    object-fit: cover;
    // TODO: figure out size of video thumbnail
    width: 150px;
    height: 90px;
    border-radius: 0.45rem;
    background-color: $mercury;
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  &__title {
padding-bottom: 0.25rem;
  }
}
