@use "../../styles/partials/_fonts" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/_resets" as *;
@use "../../styles/partials/_variables" as *;

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: $padding-headlines-mobile;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__video {
    position: relative;
    width: 100%;
  }
}


.videodetails__container {

  &__title {
      padding: $padding-headlines-mobile;
  }

  &__description {
      @include body-copy-mobile;
      padding: $padding-components-mobile;
  }

}