@use "../../styles/partials/_fonts" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/_resets" as *;
@use "../../styles/partials/_variables" as *;

.videoinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 1rem 0.5rem;

  &__divider {
    border: none;
    border-top: 0.0625rem solid $mercury;
    margin: auto;
    width: 100%;
    padding-bottom: 0.5rem;
  }

  &__divider--tablet {
    @include tablet {
      display: none;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 50%;

    @include tablet {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
    }
  }

  &__container--left {
    @include tablet {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
  &__container--right {
    // check to see if this is this correct?
    // align-items: flex-end;
    @include tablet {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__engagement {
    display: flex;
    flex-direction: row;
    padding: 0 0.5rem;
  }

  &__info {
    @include subheader-mobile;
    font-weight: 400;
    color: $silver;
    padding: 0.25rem;

    @include tablet {
      @include subheader-desktop;
    }
  }

  &__icon {
    padding: 0.25rem;
  }

  &__info-channel {
    @include subheader-mobile;
    color: $brainFlix-Black;
  }
}
