@use "../../styles/partials/_fonts" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/_resets" as *;
@use "../../styles/partials/_variables" as *;

.commentform {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 1rem;
  flex-direction: column;

  @include tablet {
    padding: 2.25rem;
    max-width: 768px;
    justify-content: center;
    margin: auto;
  }

  &__form {
    display: flex;
    padding-top: 1rem;
    min-height: $form-height-mobile;
    min-width: $form-width;
    width: 100%;
  }

  &__title {
    @include section-header-mobile;

    @include tablet {
      @include section-header-desktop;
    }
  }

  &__avatar-container {
    padding-right: 1rem;
  }

  &__avatar {
    display: flex;
    border-radius: 50%;
    max-width: 2.25rem;
    max-height: 2.25rem;
    width: 2.25rem;
    height: 2.25rem;
    margin: 1.5rem 0;
    object-fit: cover;
    background-color: $mercury;
    @include tablet {
      max-width: 3rem;
      max-height: 3rem;
      width: 3rem;
      height: 3rem;
    }
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    flex: 2;
  }

  &__label {
    color: $silver;
    text-transform: uppercase;
    @include body-copy-mobile;
    padding: 1rem 0 0.25rem;

    @include tablet {
      @include body-copy-desktop;
    }
  }

  &__textarea {
    font-family: inherit;
    border-radius: 0.25rem;
    border: 1px solid $mercury;
    background-color: $white;
    max-height: $form-height-mobile;
    min-width: $form-width;
    width: 100%;
    padding: $form-padding-mobile;

    // @include tablet {
    //   height: $form-height-desktop;
    // }
  }

  &__button {
    height: $button-height;
    padding: $button-padding;
    border-radius: $button-radius;
    text-transform: uppercase;
    @include labels-buttons-mobile;
    background-color: $brainFlix-Blue;
    color: $white;
    width: 100%;
    margin-top: 1rem;

    @include tablet {
      @include labels-buttons-desktop;
      width: $button-width-desktop;
    //   margin-left: auto;
    }
  }

  &__button:hover {
    background-color: $brainFlix-DarkBlue;
    cursor: pointer;
  }

}
