@use "../../styles/partials/_fonts" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/_resets" as *;
@use "../../styles/partials/_variables" as *;


.comments {
    display: flex;
    flex-direction: column;
    // padding: $padding-components-mobile;

    @include tablet {
        padding: $padding-components-desktop;

        // TODO: flex: 2 ?? needs to take 75% 
    }

    &__container {
        // padding: 0 1rem;
    }
}