@use "./styles/partials/_fonts" as *;
@use "./styles/partials/_mixins" as *;
@use "./styles/partials/_resets" as *;
@use "./styles/partials/_variables" as *;

.container {
    @include desktop {
        display: flex;
        max-width: 80rem;
        margin: auto;
    }
}

.main {
  @include desktop {
    display: flex;
    flex-direction: column;
    max-width: 66.67%;
    border-right: 0.0625rem solid $mercury;
  }
}

.playlist {
    @include desktop {
        max-width: 33.33%;
    }
}
