@use "../../styles/partials/_fonts" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/_resets" as *;
@use "../../styles/partials/_variables" as *;

.notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: $padding-headlines-mobile;
  padding-bottom: 1rem;
  background-color: $white;

  @include tablet {
    padding-bottom: 1.5rem;
  }

  &__title, &__emoji {
   @include page-header-mobile;
   @include tablet {
       @include page-header-desktop;
    }
}

&__message {
    @include body-copy-mobile;
    @include tablet {
        @include body-copy-desktop;
    }
  }

  &__back {
    color: $brainFlix-Blue;
    text-decoration: none;
    cursor: pointer;
  }
}
